<h1 class="text-xl font-semibold"><%= action_name.capitalize %> Habit</h1>

<%= form_with model: @habit do |f| %>
  <div class="mt-4">
    <%= f.label :name, class: "block" %>
    <%= f.text_field :name, class: "border p-2 w-full" %>
  </div>
  <div class="mt-4">
    <%= f.submit class: "bg-green-500 text-white px-4 py-2 rounded" %>
  </div>
<% end %>
